<legend>About the website</legend>

<section>
    <p>
        This website is a simple resume generator. <br/>
        It is a fruit of my "Play with MVC" and "Clean Architecture".<br/>
        I created it for fun and also to generate my own resumes. <br/><br/>

        Feel free to use it as long as you will not sell it ;))) <br />
        Enjoy<br />        
    </p>
</section>


