@using VRT.Resume.Application.Resumes.Queries.GetResumeList
@model  IEnumerable<ResumeInListVM>
@{
    var resumes = Model != null
        ? Model.ToArray()
        : new ResumeInListVM[0];

    <legend>Your resumes</legend>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Position</th>
                <th scope="col">Last Modifed</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resume in resumes)
            {
                <tr>
                    <th>@resume.ResumeId</th>
                    <td>@resume.Position</td>
                    <td>@resume.ModifiedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>                    
                    <td>                        
                        @Html.ActionLink("Show","/","Resumes", new { id = resume.ResumeId }, new { })                        
                    </td>
                </tr>
            }            
        </tbody>
    </table>
}

