@model EditDeleteToolbarData
@{
    if (Model == null)
    {        
        return;
    }    
}

<fieldset class="border-bottom d-flex">
    <input class="btn btn-primary" type="submit" value="@(Html.GetLabel(LabelNames.Yes))" required />
    <a class="btn btn-outline-danger ml-2" href="@(Url.Action("Cancel", Model.Controller))">
        @(Html.GetLabel(LabelNames.No))
    </a>
</fieldset>
