:root {
    --resume-left-panel-width:300px;
}

.card-body {
    margin-right:1px;
    padding:0.5rem;
}
.chip {
    display: inline-block;
    border: 1px solid black;
    padding: 0 15px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #fafafa;
    margin-bottom: 2px;
}

.resume-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    min-height: 97vh;
}

    .resume-container > * {
        margin: 5px;
    }

    .resume-container .resume-left-panel {
        min-width: var(--resume-left-panel-width);
        max-width: 10%;
        flex: 1;
    }

        .resume-container .resume-left-panel > * {
            margin-bottom: 5px;
        }

    .resume-container .resume-right-panel {
        flex: 1;
        max-width: 55em;
    }

        .resume-container .resume-right-panel > * {
            margin-bottom: 1px;
        }

.resume-profile {
    margin: auto;
    text-align: center;
    align-items: center;
}

.resume-profile .resume-image {
    width: var(--resume-left-panel-width);
    height: var(--resume-left-panel-width);
    border-radius: 50%;
    /*-webkit-filter: grayscale(100%);*/ /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%);*/
}

.resume-contact-item {
    display: inline-block;
}

    .resume-contact-item svg,
    .resume-contact-item img {
        margin-right: 5px;
        width: 1.5em;
        height: 1.5em;
    }

    .resume-contact-item a,
    .resume-contact-item span {
        word-break: break-all;
    }

.resume-language-list {
    padding: 0;
    margin: 0;
    line-height: 0.5em;
}

.resume-language {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.resume-timeline-item-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.resume-timeline-item-title-1 {
    font-weight: 500;
    font-size: 1.1rem;
}

.resume-timeline-item-title-2 {
    font-weight: 500;
    font-size: 1rem;
}

.resume-education-list,
.resume-work-list {
    margin-left: 20px;
}

.resume-edu-item,
.resume-work-item {
    position: relative;
    margin-bottom: 20px;
}

.resume-education .resume-education-list .resume-edu-item:before,
.resume-experience .resume-work-list .resume-work-item:before {
    content: "";
    position: absolute;
    top: 0.7rem;
    left: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid black;
}

.resume-education-list .resume-edu-item:after,
.resume-work-list .resume-work-item:after {
    content: "";
    position: absolute;
    top: 1.3rem;
    left: -16px;
    height: 88%;
    border-left: 1.5px solid black;
}

.resume-work-resp {
    margin-left: 1.3em;
    margin-top: 0.5em;
}

    .resume-work-resp li {
        margin-bottom: 0.3em;
        list-style-type: disc;        
    }        

.resume-rodo {
    font-size: 0.7rem;
    text-align: justify;
    justify-self: end;
    position: relative;
    min-width:100%;
}


@media print {
    .resume {
        margin: 0;
        padding: 0;
        min-width: 100%;
        min-height: 100%;
        border: 0;
    }
    .nav, body {
        display:none;
    }

    .footer {
        display: none;
    }
}
