* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    padding: 0;
    margin-bottom: 40px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Navbar */
.brand-image {
    width: 54px;
    height: 64px;
}

.nav-icon {
    width: 24px;
    height:24px;    
}

#navbarContent ul {
    display: flex;
    margin: 10px;
}

.navbar-nav .nav-link {
    padding-left: 10px;
    min-width: 80px;
    text-align: center;
}

#navbarContent li.nav-item:not(.nav-initials):hover {
    background-color: #e9ecef;
    border-radius: 10px;
}

.nav-initials {
    min-width: 40px;
    min-height: 40px;
}

.navbar-nav .nav-initials {
    padding-left: 20px;
    text-align: center;
}

.nav-initials > a {
    font-weight: bold;
    color: white !important;
    padding: 10px;
    border-radius: 50%;
    background-color: #1887db;
    display: inline-flex;
    min-width: 40px;
    min-height: 40px;
    text-decoration: none;
}

    .nav-initials > a:hover {
        text-shadow: 2px 2px 4px #000000;
    }

/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9ecef;
    text-align: center;
}
/* resume with print option */
.page-a4 {
    min-width: 210mm;
    min-height: 297mm;
    border: 0.5px solid #e9ecef;
    border-radius: 5px;
    margin-top: 10px;
}

.upload-btn-wrapper {
    margin-bottom: 10px;
    display: flex;
}

.no-padding {
    padding: 0 !important;
}

/*custom buttons*/
.card-buttons button, 
.card-buttons a {
    display: flex;
    flex-direction: row !important;
}

.add-new-button {
    width: 40px;
    height: 40px;    
    padding: 4px 4px 2px 4px;    
    align-self: start;   
    margin:0;    
}

/*sso buttons styling*/
.sso-button {
    width: 300px;
    padding: 10px;
    position: relative;
}

.sso-google:before {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    width: 40px;
    height: 40px;
    top: 2px;
    left: 2px;
    position: absolute;
}

.sso-google:after {
    background-repeat: no-repeat;
    content: "";
    height: 25px;
    width: 25px;
    left: 10px;
    position: absolute;
    background-image: url(img/sso-google.svg);
    background-position:center;
}

/* Skill styles*/

.skill-toolbar {
    display:inline-block;    
    flex-wrap: nowrap;
}

    .skill-toolbar a,
    .skill-toolbar button {
        border: 0;
        display: inline-block;
        /*border: 1px solid red;*/
        border-radius: 50%;
        background:none;
    }
        .skill-toolbar button:focus,
        .skill-toolbar button:active {
            outline: none;
            border: none;
            background:none;
        }
.skill-toolbar img {
    width: 24px;
    height: 24px;    
}

.edu-card-item {

}
.edu-card-item img {
    width: 24px;
    height: 24px;
    border-radius:50%;
    cursor: pointer;
}

.contact-images img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
