@model IEnumerable<VRT.Resume.Application.Resumes.Queries.GetResume.SkillDto>

@if (Model == null)
{
    return;
}

<div>
    <ul class="resume-work-resp">        
        @foreach (var skill in Model.GetSoftSkills())
        {            
            <li class="@skill.GetCssClass("")">@skill.Name</li>
        }
    </ul>
</div>
