@using VRT.Resume.Application.Resumes.Queries.GetResume
@model IEnumerable<SkillDto>

@if (Model == null)
{
    return;
}

<div>
    @foreach (var lang in Model.GetTechnicalSkills())
    {        
    <span class="@lang.GetCssClass("chip")">
        @lang.Name
    </span>
    }
</div>
