@model VRT.Resume.Application.Resumes.Queries.GetResume.WorkActivityDto[]

@if (Model == null || Model.Length == 0)
{
    return;
}

<ul class="resume-work-resp">
    @foreach (var activity in Model)
    {
        <li>@activity.Description @activity.FormatSkills()</li>
    }    
</ul>

