@using VRT.Resume.Application.Persons.Queries.GetPersonContacts;
@model PersonContactInListVM[]

@{
    var contacts = Model == null
        ? new PersonContactInListVM[0]
        : Model;
    
}

@await Html.PartialAsync("_AddToolbar", new EditDeleteToolbarData("PersonContacts", 0, TabNames.Contact))
    
<div class="d-flex flex-wrap">
    @foreach (var m in contacts)
    {
        <div class="card mr-2 mb-2 shadow">
            <div class="card-body">
                <div class="d-flex text-nowrap border-bottom mb-2 mr-auto align-content-around">
                    <span class="h4 text-wrap flex-grow-1">@m.Name</span>
                    @await Html.PartialAsync("_EditDeleteToolbar", new EditDeleteToolbarData("PersonContacts", m.ContactId))<br />
                </div>
                <span class="card-subtitle">@m.Value</span><br />                
            </div>
        </div>
    }
</div>
