<legend>About the website</legend>

<section>
    <div class="text-justify">
        This website is a simple resume generator. <br/>
        It is a fruit of my <q class="font-weight-bolder">Play with MVC</q> and <q class="font-weight-bolder">Clean Architecture</q>.<br/>
        Created for fun and to generate my resumes for different job applications <br/><br/>                
        Enjoy<br />        
    </div>
</section>


