@model CultureSettingsViewModel

@{ 
    if(Model==null)
    {
        return;
    }
}

<a class="nav-link" href="@Url.Action("Change","Culture")"
   title="@Html.GetLabel(LabelNames.Language)">
    @Model.Caption
</a>
