<div>
    @using (Html.BeginForm("LogOut", "Account"))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-outline-primary btn-block" id="sign-out-button" name="type">
            @Html.GetLabel(LabelNames.SignOut)
        </button>
    }
</div>
