<legend>@Html.GetLabel(LabelNames.SignIn)</legend>
@{
    using (Html.BeginForm("SignIn", "Account", new { returnUrl = "~/" }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p>                
                <button type="submit" class="btn btn-outline-primary btn-block sso-button sso-google" id="Google" 
                        name="type" value="Google">
                    <span class="ml-3">
                        @Html.FormatLabel(LabelNames.SignInUsing_Name, "Google")                    
                    </span>
                    
                </button>                
            </p>
        </div>
    }
}
